:root {
  --background: #111111;
  --color-dark: #1F1F1F;
  --color-bright: #F6F6F6;
  --color-primary: #0BE394;
  --color-secondary: #00F959;
  --color-tetiary: #0BE394;
  --rgba3: 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Colombia";
  background-size: 100vw;
  overflow-y: overlay;
  overflow-x: hidden;
  height: 300vh;
  transition: all 0.5s ease;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-primary) var(--color-primary);
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 15px;
}

section {
  padding: 0 50px;
}

p {
  letter-spacing: 1.6px;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  background: rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  transition: all 0.5s ease;
}
#navbar .container {
  display: flex;
  z-index: 100;
}
#navbar .container .logo {
  width: 250px;
}
#navbar .nav-links {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
  transition: all 0.3s ease;
}
#navbar .nav-links a {
  padding: 0 20px;
  top: 20px;
  color: var(--color-bright);
  opacity: 0.5;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}
#navbar .nav-links a:hover {
  padding-top: -20px;
  text-shadow: rgba(255, 255, 255, 0.4784313725) 0px 0px 5px, rgba(255, 255, 255, 0.4784313725) 0px 0px 10px, rgba(255, 255, 255, 0.4784313725) 0px 0px 15px, 0px 0px 20px, var(--color-primary) 0px 0px 30px, var(--color-primary) 0px 0px 40px, var(--color-primary) 0px 0px 50px, var(--color-primary) 0px 0px 75px;
}
#navbar .nav-links a.active {
  opacity: 1;
}
#navbar .nav-links #home:hover {
  --background: #f3584f;
  --color-dark: #000201;
  --color-bright: #f7f1ec;
  --color-primary: #e6d7af;
  --color-secondary: #e6d7af;
  --color-tetiary: #f7f1ec;
  --rgba3: 255;
}
#navbar .contact {
  position: relative;
  display: inline-block;
}
#navbar .contact button {
  position: relative;
  width: 250px;
  height: 45px;
  color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px 0px 40px 0px;
  border-width: 0px;
  background-color: transparent;
  font-size: 1.15em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
#navbar .contact button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 40px 0px 40px 0px;
  height: 100%;
  background-color: var(--color-primary);
  -webkit-box-shadow: 5px 5px 30px 5px var(--color-primary);
  box-shadow: 5px 5px 30px 5px var(--color-primary);
  filter: blur(5px);
  z-index: 1;
  transition: all 0.3s ease;
}
#navbar .contact button::after {
  height: 100%;
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  border-bottom: 0px solid var(--color-primary);
  border-top: 0px solid var(--color-primary);
  z-index: 1;
  transition: all 0.3s ease;
}
#navbar .contact button:hover:before {
  background-color: var(--background);
  -webkit-box-shadow: 0px 0px 0px 0px var(--color-primary);
  box-shadow: 0px 0px 0px 0px var(--color-primary);
  filter: blur(0px);
}
#navbar .contact button:hover::after {
  width: 80%;
  border-bottom: 1px solid var(--color-primary);
  border-top: 1px solid var(--color-primary);
}
#navbar .contact button:hover span {
  color: var(--color-primary);
}
#navbar .contact button span {
  position: relative;
  z-index: 1;
}
#navbar .contact .dropdown {
  padding-top: 50px;
  position: absolute;
  width: 250px;
  top: 0;
  max-height: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 40px 0 40px 40px;
  text-align: center;
  transition: background-color 0.5s ease, max-height 1s ease, padding-top 0.6s ease;
}
#navbar .contact .dropdown a {
  color: var(--color-bright);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#navbar .contact .dropdown a:hover {
  text-shadow: rgba(255, 255, 255, 0.4784313725) 0px 0px 5px, rgba(255, 255, 255, 0.4784313725) 0px 0px 10px, rgba(255, 255, 255, 0.4784313725) 0px 0px 15px, 0px 0px 20px, var(--color-primary) 0px 0px 30px, var(--color-primary) 0px 0px 40px, var(--color-primary) 0px 0px 50px, var(--color-primary) 0px 0px 75px;
}
#navbar .contact .dropdown.show {
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 80px;
  max-height: 200px;
}
#navbar .burger {
  display: none;
}
@media (max-width: 1110px) {
  #navbar .nav-links {
    position: fixed;
    right: -100%;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 40px 0px 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #navbar .nav-links.active {
    right: -10vw;
  }
  #navbar .nav-links li {
    margin: 20px 20px;
  }
  #navbar .burger {
    display: block;
    cursor: pointer;
    z-index: 100;
  }
  #navbar .burger div {
    width: 25px;
    height: 3px;
    background-color: var(--color-bright);
    margin: 5px;
    transition: all 0.3s ease;
  }
  #navbar .burger.toggle div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  #navbar .burger.toggle div:nth-child(2) {
    opacity: 0;
  }
  #navbar .burger.toggle div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
@media (max-width: 771px) {
  #navbar {
    padding: 20px 20px;
  }
  #navbar .container {
    width: 100%;
    justify-content: center;
  }
  #navbar .container .logo {
    width: 200px;
  }
  #navbar .contact {
    display: none;
  }
}

#home .content {
  display: flex;
  justify-content: space-between;
  color: var(--color-bright);
}
#home .content .blob {
  fill: var(--color-secondary);
  position: absolute;
  height: 30vw;
  top: -150px;
  left: -250px;
  opacity: 0.6;
  filter: blur(50px);
  z-index: -1;
  transition: all 0.5s ease;
}
#home .content .blob-1 {
  fill: var(--color-tetiary);
  height: 20vw;
  right: 190px;
  top: 150px;
  left: auto;
}
#home .content .blob-2 {
  fill: var(--color-secondary);
  height: 20vw;
  right: 450px;
  top: 650px;
  left: auto;
}
#home .content .blob-3 {
  fill: var(--color-tetiary);
  height: 20vw;
  right: -100px;
  top: auto;
  bottom: -150px;
  left: auto;
}
@media (max-width: 1110px) {
  #home .content .blob {
    height: 50vw;
    top: auto;
    left: auto;
    right: 0px;
  }
  #home .content .blob-1 {
    height: 50vw;
    top: 0px;
    left: 0px;
  }
  #home .content .blob-2 {
    height: 50vw;
    right: 0px;
    top: 50vh;
    left: auto;
  }
  #home .content .blob-3 {
    height: 50vw;
    right: auto;
    top: auto;
    bottom: 5vh;
    left: auto;
  }
}
#home .content .left,
#home .content .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
#home .content .left h1 {
  font-size: 4em;
  line-height: 1.2;
}
#home .content .left p {
  font-size: 1.4em;
  padding: 20px 270px 20px 0;
}
#home .content .left .cta {
  position: relative;
  width: fit-content;
  padding: 0px 30px;
  margin: 30px 0;
  height: 45px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px 45px 45px 45px;
  border: 0px solid var(--color-dark);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}
#home .content .left .cta .fas {
  color: var(--color-dark);
  margin-left: 10px;
  transition: all 0.3s ease;
}
#home .content .left .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 45px 45px 45px 45px;
  height: 100%;
  background-color: var(--color-primary);
  -webkit-box-shadow: 5px 5px 30px 5px var(--color-primary);
  box-shadow: 5px 5px 30px 5px var(--color-primary);
  filter: blur(5px);
  z-index: 1;
  transition: all 0.3s ease;
}
#home .content .left .cta::after {
  height: 100%;
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  border-bottom: 0px solid var(--color-primary);
  border-top: 0px solid var(--color-primary);
  z-index: 1;
  transition: all 0.3s ease;
}
#home .content .left .cta:hover .fas {
  color: var(--color-primary);
}
#home .content .left .cta:hover:before {
  background-color: var(--background);
  -webkit-box-shadow: 0px 0px 0px 0px var(--color-primary);
  box-shadow: 0px 0px 0px 0px var(--color-primary);
  filter: blur(0px);
}
#home .content .left .cta:hover::after {
  width: 80%;
  border-bottom: 1px solid var(--color-primary);
  border-top: 1px solid var(--color-primary);
}
#home .content .left .cta:hover a {
  color: var(--color-primary);
}
#home .content .left .cta a {
  position: relative;
  z-index: 1;
  color: var(--color-dark);
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}
#home .content .right .phone {
  position: absolute;
  width: 300px;
  height: 600px;
  background: linear-gradient(-60deg, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.1) 0%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.1) 40%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.005) 100%);
  border-radius: 20px;
  filter: blur(2.5px);
  transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg);
  transition: all 0.5s ease;
}
#home .content .right .phone:hover {
  -moz-transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1.3);
  -webkit-transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1.3);
  -o-transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1.3);
  -ms-transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1.3);
  transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1.3);
}
#home .content .right .phone-1 {
  top: 300px;
  left: 65vw;
}
#home .content .right .phone-1:hover {
  transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1);
}
#home .content .right .phone-2 {
  background: linear-gradient(90deg, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 0%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.1) 40%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.1) 100%);
  top: 260px;
  left: 63vw;
}
#home .content .right .phone-2:hover {
  transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1);
}
#home .content .right .phone-3 {
  height: 20px;
  background: rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.4);
  top: 760px;
  left: 56.5vw;
  filter: blur(0px);
}
#home .content .right .phone-3:hover {
  transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1);
}
#home .content .right .phone-4 {
  height: 8px;
  width: 276px;
  background: var(--color-bright);
  top: 765px;
  left: 57.1vw;
  filter: blur(0px);
}
#home .content .right .phone-4:hover {
  transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1);
}
#home .content .right .phone-5 {
  background: linear-gradient(75deg, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 0%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 60%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.07) 100%);
  height: 130px;
  width: 130px;
  top: 610px;
  left: 58.2vw;
  filter: blur(0px);
}
#home .content .right .phone-6 {
  background: linear-gradient(75deg, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 0%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 60%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.07) 100%);
  height: 130px;
  width: 130px;
  top: 604px;
  left: 66.2vw;
  filter: blur(0px);
}
#home .content .right .phone-7 {
  background: linear-gradient(75deg, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 0%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 60%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.07) 100%);
  height: 130px;
  width: 130px;
  top: 460px;
  left: 60.2vw;
  filter: blur(0px);
}
#home .content .right .phone-8 {
  background: linear-gradient(45deg, var(--color-secondary) 0%, var(--color-tetiary) 100%);
  height: 200px;
  width: 200px;
  top: 410px;
  left: 65.6vw;
  filter: blur(0px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .content .right .phone-8 .child {
  width: 80%;
  height: 80%;
  background-image: url("/assets/logoown.png");
  background-size: contain;
}
#home .content .right .phone-9 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(75deg, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 0%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 60%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.07) 100%);
  height: 130px;
  width: 300px;
  top: 310px;
  left: 61.3vw;
  filter: blur(0px);
}
#home .content .right .phone-9 .child {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 60px;
  width: 60px;
  background: linear-gradient(75deg, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 0%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.07) 100%);
}
#home .content .right .phone-9 .child .fas {
  opacity: 0.3;
  font-size: 1.6em;
}
#home .content .right .phone-10 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-bright);
  height: 50px;
  width: 350px;
  top: 230px;
  left: 62.7vw;
  filter: blur(0px);
}
#home .content .right .phone-10 .child {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 60px;
  padding: 0 20px;
}
#home .content .right .phone-10 .child .fas {
  color: var(--background);
  opacity: 1;
  font-size: 1.6em;
}
#home .content .right .phone-10 .child .punkt1 {
  margin: 5px;
  height: 15px;
  width: 15px;
  border-radius: 45px;
  background-color: #00F959;
}
#home .content .right .phone-10 .punkt2 {
  margin: 5px;
  height: 15px;
  width: 15px;
  border-radius: 45px;
  background-color: #befa19;
}
#home .content .right .phone-10 .punkt3 {
  margin: 5px;
  height: 15px;
  width: 15px;
  border-radius: 45px;
  background-color: #fa0000;
}
@media (max-width: 1110px) {
  #home .content {
    flex-direction: column;
    padding-top: 100px;
  }
  #home .content .left,
  #home .content .right {
    width: 100%;
    height: auto;
  }
  #home .content .left h1 {
    font-size: 2em;
  }
  #home .content .left p {
    font-size: 1em;
    padding: 20px 0px 20px 0;
  }
  #home .content .right {
    display: none;
  }
}

#aboutus .content {
  display: flex;
  justify-content: space-between;
  color: var(--color-bright);
}
#aboutus .content .blob {
  fill: var(--color-secondary);
  position: absolute;
  height: 30vw;
  top: 100vh;
  left: -250px;
  opacity: 0.6;
  filter: blur(50px);
  z-index: 2;
  transition: all 0.5s ease;
}
#aboutus .content .blob-1 {
  fill: var(--color-tetiary);
  height: 20vw;
  right: 190px;
  top: 120vh;
  left: auto;
  z-index: -1;
}
#aboutus .content .blob-2 {
  fill: var(--color-secondary);
  height: 20vw;
  right: 450px;
  top: 170vh;
  left: auto;
  z-index: -1;
}
#aboutus .content .blob-3 {
  fill: var(--color-tetiary);
  height: 20vw;
  right: -100px;
  top: 180vh;
  bottom: -150px;
  left: auto;
  z-index: -1;
}
@media (max-width: 1110px) {
  #aboutus .content .blob {
    height: 50vw;
    top: auto;
    left: auto;
    right: 0px;
  }
  #aboutus .content .blob-1 {
    height: 50vw;
    top: 0px;
    left: 0px;
  }
  #aboutus .content .blob-2 {
    height: 50vw;
    right: 0px;
    top: 50vh;
    left: auto;
  }
  #aboutus .content .blob-3 {
    height: 50vw;
    right: auto;
    top: auto;
    bottom: 5vh;
    left: auto;
  }
}
#aboutus .content .left,
#aboutus .content .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 100px;
}
#aboutus .content .left h1 {
  position: relative;
  z-index: 5;
  font-size: 4em;
  line-height: 1.2;
}
#aboutus .content .left p {
  position: relative;
  z-index: 5;
  font-size: 1.4em;
  padding: 20px 270px 20px 0;
}
#aboutus .content .left .cta {
  position: relative;
  width: fit-content;
  padding: 0px 30px;
  margin: 30px 0;
  height: 45px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px 45px 45px 45px;
  border: 0px solid var(--color-dark);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}
#aboutus .content .left .cta .fas {
  color: var(--color-dark);
  margin-left: 10px;
  transition: all 0.3s ease;
}
#aboutus .content .left .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 45px 45px 45px 45px;
  height: 100%;
  background-color: var(--color-primary);
  -webkit-box-shadow: 5px 5px 30px 5px var(--color-primary);
  box-shadow: 5px 5px 30px 5px var(--color-primary);
  filter: blur(5px);
  z-index: 1;
  transition: all 0.3s ease;
}
#aboutus .content .left .cta::after {
  height: 100%;
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  border-bottom: 0px solid var(--color-primary);
  border-top: 0px solid var(--color-primary);
  z-index: 1;
  transition: all 0.3s ease;
}
#aboutus .content .left .cta:hover .fas {
  color: var(--color-primary);
}
#aboutus .content .left .cta:hover:before {
  background-color: var(--background);
  -webkit-box-shadow: 0px 0px 0px 0px var(--color-primary);
  box-shadow: 0px 0px 0px 0px var(--color-primary);
  filter: blur(0px);
}
#aboutus .content .left .cta:hover::after {
  width: 80%;
  border-bottom: 1px solid var(--color-primary);
  border-top: 1px solid var(--color-primary);
}
#aboutus .content .left .cta:hover a {
  color: var(--color-primary);
}
#aboutus .content .left .cta a {
  position: relative;
  z-index: 1;
  color: var(--color-dark);
  font-size: 1.15em;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}
#aboutus .content .left .aboutusimg {
  position: relative;
  z-index: 1;
  width: 50vh;
  height: 50vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, var(--background) 99%), linear-gradient(to left, rgba(255, 255, 255, 0) 60%, var(--background) 99%), linear-gradient(to top, rgba(255, 255, 255, 0) 75%, var(--background) 99%), linear-gradient(to right, rgba(255, 255, 255, 0) 65%, var(--background) 99%), url("../assets/AboutUS.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#aboutus .content .right .whyusheader {
  position: absolute;
  top: 125%;
  left: 57%;
  font-size: 2em;
}
#aboutus .content .right .items {
  position: absolute;
  top: 150%;
  left: 68%;
  transform: translate(-50%, -50%);
  user-select: none;
}
#aboutus .content .right .items .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 30vw;
  border-radius: 20%;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#aboutus .content .right .items .item h1 {
  margin: 20px;
  font-size: 1.8em;
  font-weight: bold;
}
#aboutus .content .right .items .item p {
  font-size: 1.2em;
}
#aboutus .content .right .items .item img {
  height: 45%;
}
#aboutus .content .right .item img {
  object-fit: cover;
}
#aboutus .content .right .item.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}
#aboutus .content .right .item.prev {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-125%, -50%) scale(0.5);
}
#aboutus .content .right .item.next {
  z-index: 2;
  opacity: 0.25;
  transform: translate(25%, -50%) scale(0.5);
}
#aboutus .content .right .items .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  z-index: 100;
}
#aboutus .content .right .button-container .button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}
#aboutus .content .right .button-container .button:hover {
  opacity: 1;
}
#aboutus .content .right .button-container .button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  z-index: -99;
}
#aboutus .content .right .button-container .button:nth-child(1) {
  float: left;
}
#aboutus .content .right .button-container .button:nth-child(2) {
  float: right;
}
@media (max-width: 1110px) {
  #aboutus .content {
    flex-direction: column;
    padding-top: 100px;
  }
  #aboutus .content .left,
  #aboutus .content .right {
    width: 100%;
    height: auto;
  }
  #aboutus .content .left h1 {
    font-size: 2em;
  }
  #aboutus .content .left p {
    font-size: 1em;
    padding: 20px 0px 20px 0;
  }
  #aboutus .content .right {
    display: none;
  }
}

#services {
  color: var(--color-bright);
  display: flex;
  align-items: center;
  flex-direction: column;
}
#services .blob {
  fill: var(--color-secondary);
  animation: moveBlob 40s infinite;
  --moveX: 300px;
  --moveY: 50vh;
  position: absolute;
  height: 30vw;
  top: 200vh;
  left: -250px;
  opacity: 0.6;
  filter: blur(50px);
  z-index: 2;
  transition: all 0.5s ease;
}
#services .blob-1 {
  fill: var(--color-tetiary);
  height: 20vw;
  right: 190px;
  top: 220vh;
  left: auto;
  z-index: -1;
  --moveX: -20vw;
  --moveY: -150px;
}
#services .blob-2 {
  fill: var(--color-secondary);
  height: 20vw;
  right: 450px;
  top: 260vh;
  left: auto;
  z-index: -1;
  --moveX: 50px;
  --moveY: 150px;
}
@media (max-width: 1110px) {
  #services .blob {
    height: 50vw;
    top: auto;
    left: auto;
    right: 0px;
  }
  #services .blob-1 {
    height: 50vw;
    top: 0px;
    left: 0px;
  }
  #services .blob-2 {
    height: 50vw;
    right: 0px;
    top: 50vh;
    left: auto;
  }
}
#services h1 {
  position: relative;
  z-index: 5;
  font-size: 4em;
  line-height: 1.2;
}
#services .content {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
#services .content .card {
  position: relative;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  transform-style: preserve-3d;
  transition: 0.5s;
  cursor: pointer;
}
#services .content .card .front,
#services .content .card .back {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 0.25s;
}
#services .content .card .front {
  z-index: 2;
  opacity: 1;
}
#services .content .card .back {
  transform: rotateY(180deg);
  opacity: 0;
  position: absolute;
}
#services .content .card:hover {
  background: rgba(11, 227, 148, 0.3);
}
#services .content .card.flipped {
  transform: rotateY(180deg);
}
#services .content .card.flipped:hover {
  background: rgba(255, 255, 255, 0.1);
}
#services .content .card.flipped .front {
  opacity: 0;
}
#services .content .card.flipped .back {
  opacity: 1;
}
#services .content .card .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/noiseeffect.jpg");
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
  filter: blur(10px);
}
#services .content .card img {
  height: 20vh;
}
#services .content .card h2 {
  font-size: 2em;
  margin-bottom: 8px;
}
#services .content .card p {
  font-size: 1.4em;
}
#services .content .card .card-back {
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  color: var(--color-bright);
}
#services .content .card .card-back p {
  font-size: 1.4em;
}

@media (max-width: 1024px) {
  #services .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  #services .content {
    grid-template-columns: 1fr;
  }
}
@keyframes moveBlob {
  0%, 100% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(var(--moveX), 0);
  }
  66% {
    transform: translate(0, var(--moveY));
  }
}