$breakpoint: 1110px;
$breakpoint2: 771px;

:root {
  --background: #111111;
  --color-dark: #1F1F1F;
  --color-bright: #F6F6F6;
  --color-primary: #0BE394;
  --color-secondary: #00F959;
  --color-tetiary: #0BE394;
  --rgba3: 255;
}

html {
  // overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Colombia";
  background-size: 100vw;
  overflow-y: overlay;
  overflow-x: hidden;
  height: 300vh;
  transition: all 0.5s ease;
}

// /* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-primary) var(--color-primary);
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 15px;
}

section {
  padding: 0 50px;
}

p {
  letter-spacing: 1.6px;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  background: rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0);
}


#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  transition: all 0.5s ease;

  .container {
    display: flex;
    z-index: 100;

    .logo {
      width: 250px;
    }
  }

  .nav-links {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    transition: all 0.3s ease;

    a {
      padding: 0 20px;
      top: 20px;
      color: var(--color-bright);
      opacity: .5;
      font-size: 1.3em;
      font-weight: bold;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        padding-top: -20px;
        text-shadow: #ffffff7a 0px 0px 5px, #ffffff7a 0px 0px 10px, #ffffff7a 0px 0px 15px, 0px 0px 20px, var(--color-primary) 0px 0px 30px, var(--color-primary) 0px 0px 40px, var(--color-primary) 0px 0px 50px, var(--color-primary) 0px 0px 75px;
      }

      &.active {
        opacity: 1;
      }

    }

    #home {
      &:hover {
        --background: #f3584f;
        --color-dark: #000201;
        --color-bright: #f7f1ec;
        --color-primary: #e6d7af;
        --color-secondary: #e6d7af;
        --color-tetiary: #f7f1ec;
        --rgba3: 255;
      }
    }


  }

  .contact {
    position: relative;
    display: inline-block;

    button {
      position: relative;
      width: 250px;
      height: 45px;
      color: var(--color-dark);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px 0px 40px 0px;
      border-width: 0px;
      background-color: transparent;
      font-size: 1.15em;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 40px 0px 40px 0px;
        height: 100%;
        background-color: var(--color-primary);
        -webkit-box-shadow: 5px 5px 30px 5px var(--color-primary);
        box-shadow: 5px 5px 30px 5px var(--color-primary);
        filter: blur(5px);
        z-index: 1;
        transition: all 0.3s ease;
      }

      &::after {
        height: 100%;
        content: "";
        position: absolute;
        bottom: 0;
        width: 0%;
        border-bottom: 0px solid var(--color-primary);
        border-top: 0px solid var(--color-primary);
        z-index: 1;
        transition: all 0.3s ease;
      }

      &:hover {
        &:before {
          background-color: var(--background);
          -webkit-box-shadow: 0px 0px 0px 0px var(--color-primary);
          box-shadow: 0px 0px 0px 0px var(--color-primary);
          filter: blur(0px);
        }

        &::after {
          width: 80%;
          border-bottom: 1px solid var(--color-primary);
          border-top: 1px solid var(--color-primary);
        }

        span {
          color: var(--color-primary);
        }
      }

      span {
        position: relative;
        z-index: 1;
      }
    }


    .dropdown {
      padding-top: 50px;
      position: absolute;
      width: 250px;
      top: 0;
      max-height: 10px;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 40px 0 40px 40px;
      text-align: center;
      transition: background-color .5s ease, max-height 1s ease, padding-top 0.6s ease;

      a {
        color: var(--color-bright);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      a:hover {
        text-shadow: #ffffff7a 0px 0px 5px, #ffffff7a 0px 0px 10px, #ffffff7a 0px 0px 15px, 0px 0px 20px, var(--color-primary) 0px 0px 30px, var(--color-primary) 0px 0px 40px, var(--color-primary) 0px 0px 50px, var(--color-primary) 0px 0px 75px;
      }
    }

    .dropdown.show {
      background-color: rgba(0, 0, 0, 0.2);
      padding-top: 80px;
      max-height: 200px;
    }

  }


  .burger {
    display: none;
  }

  @media (max-width: $breakpoint) {
    .nav-links {
      position: fixed;
      right: -100%;
      height: 100vh;
      top: 0;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 40px 0px 0px 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &.active {
        right: -10vw;
      }

      li {
        margin: 20px 20px;
      }
    }



    .burger {
      display: block;
      cursor: pointer;
      z-index: 100;

      div {
        width: 25px;
        height: 3px;
        background-color: var(--color-bright);
        margin: 5px;
        transition: all 0.3s ease;
      }

      &.toggle {
        div:nth-child(1) {
          transform: rotate(-45deg) translate(-5px, 6px);
        }

        div:nth-child(2) {
          opacity: 0;
        }

        div:nth-child(3) {
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }
    }
  }

  @media (max-width: $breakpoint2) {
    padding: 20px 20px;

    .container {
      width: 100%;
      justify-content: center;

      .logo {
        width: 200px;
      }
    }

    .contact {
      display: none;
    }
  }
}

#home {

  .content {
    display: flex;
    justify-content: space-between;
    color: var(--color-bright);



    .blob {
      fill: var(--color-secondary);
      position: absolute;
      height: 30vw;
      top: -150px;
      left: -250px;
      opacity: .6;
      filter: blur(50px);
      z-index: -1;
      transition: all .5s ease;

      &-1 {
        fill: var(--color-tetiary);
        height: 20vw;
        right: 190px;
        top: 150px;
        left: auto;
      }

      &-2 {
        fill: var(--color-secondary);
        height: 20vw;
        right: 450px;
        top: 650px;
        left: auto;
      }

      &-3 {
        fill: var(--color-tetiary);
        height: 20vw;
        right: -100px;
        top: auto;
        bottom: -150px;
        left: auto;
      }

      @media (max-width: $breakpoint) {
        height: 50vw;
        top: auto;
        left: auto;
        right: 0px;

        &-1 {
          height: 50vw;
          top: 0px;
          left: 0px;
        }

        &-2 {
          height: 50vw;
          right: 0px;
          top: 50vh;
          left: auto;
        }

        &-3 {
          height: 50vw;
          right: auto;
          top: auto;
          bottom: 5vh;
          left: auto;
        }
      }
    }

    .left,
    .right {
      width: 50%;
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
    }

    .left {
      h1 {
        font-size: 4em;
        line-height: 1.2;
      }

      p {
        font-size: 1.4em;
        padding: 20px 270px 20px 0;
      }

      .cta {

        position: relative;
        width: fit-content;
        padding: 0px 30px;
        margin: 30px 0;
        height: 45px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 45px 45px 45px 45px;
        border: 0px solid var(--color-dark);
        cursor: pointer;
        transition: all 0.3s ease;

        .fas {
          color: var(--color-dark);
          margin-left: 10px;
          transition: all .3s ease;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          border-radius: 45px 45px 45px 45px;
          height: 100%;
          background-color: var(--color-primary);
          -webkit-box-shadow: 5px 5px 30px 5px var(--color-primary);
          box-shadow: 5px 5px 30px 5px var(--color-primary);
          filter: blur(5px);
          z-index: 1;
          transition: all 0.3s ease;
        }

        &::after {
          height: 100%;
          content: "";
          position: absolute;
          bottom: 0;
          width: 0%;
          border-bottom: 0px solid var(--color-primary);
          border-top: 0px solid var(--color-primary);
          z-index: 1;
          transition: all 0.3s ease;
        }

        &:hover {
          .fas {
            color: var(--color-primary);
          }

          &:before {
            background-color: var(--background);
            -webkit-box-shadow: 0px 0px 0px 0px var(--color-primary);
            box-shadow: 0px 0px 0px 0px var(--color-primary);
            filter: blur(0px);
          }

          &::after {
            width: 80%;
            border-bottom: 1px solid var(--color-primary);
            border-top: 1px solid var(--color-primary);
          }

          a {
            color: var(--color-primary);
          }
        }

        margin-top: 20px;


        a {
          position: relative;
          z-index: 1;
          color: var(--color-dark);
          font-size: 1.4em;
          font-weight: bold;
          text-decoration: none;
          transition: all 0.3s ease;

        }
      }

    }

    .right {
      .phone {
        position: absolute;
        width: 300px;
        height: 600px;
        background: linear-gradient(-60deg, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.1) 0%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.1) 40%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.005) 100%);
        border-radius: 20px;
        filter: blur(2.5px);
        transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg);
        transition: all .5s ease;

        &:hover {
          // transform: rotateX(-20deg) rotateY(20deg) rotateZ(30deg) rotate(-26deg);
          -moz-transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1.3);
          -webkit-transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1.3);
          -o-transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1.3);
          -ms-transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1.3);
          transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1.3);

        }

        &-1 {
          top: 300px;
          left: 65vw;

          &:hover {
            transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1);
          }
        }

        &-2 {
          background: linear-gradient(90deg, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 0%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.1) 40%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.1) 100%);
          top: 260px;
          left: 63vw;

          &:hover {
            transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1);
          }
        }

        &-3 {
          height: 20px;
          background: rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.4);
          top: 760px;
          left: 56.5vw;
          filter: blur(0px);

          &:hover {
            transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1);
          }
        }

        &-4 {
          height: 8px;
          width: 276px;
          background: var(--color-bright);
          top: 765px;
          left: 57.1vw;
          filter: blur(0px);

          &:hover {
            transform: rotateX(-30deg) rotateY(30deg) rotateZ(40deg) rotate(-26deg) scale(1);
          }
        }

        &-5 {
          background: linear-gradient(75deg, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 0%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 60%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.07) 100%);
          ;
          height: 130px;
          width: 130px;
          top: 610px;
          left: 58.2vw;
          filter: blur(0px);
        }

        &-6 {
          background: linear-gradient(75deg, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 0%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 60%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.07) 100%);
          ;
          height: 130px;
          width: 130px;
          top: 604px;
          left: 66.2vw;
          filter: blur(0px);
        }

        &-7 {
          background: linear-gradient(75deg, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 0%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 60%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.07) 100%);
          ;
          height: 130px;
          width: 130px;
          top: 460px;
          left: 60.2vw;
          filter: blur(0px);
        }

        &-8 {
          background: linear-gradient(45deg, var(--color-secondary) 0%, var(--color-tetiary) 100%);
          height: 200px;
          width: 200px;
          top: 410px;
          left: 65.6vw;
          filter: blur(0px);
          display: flex;
          justify-content: center;
          align-items: center;

          .child {
            width: 80%;
            height: 80%;
            background-image: url("/assets/logoown.png");
            background-size: contain;
          }
        }

        &-9 {
          display: flex;
          justify-content: space-around;
          align-items: center;
          background: linear-gradient(75deg, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 0%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 60%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.07) 100%);
          ;
          height: 130px;
          width: 300px;
          top: 310px;
          left: 61.3vw;
          filter: blur(0px);

          .child {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            height: 60px;
            width: 60px;
            background: linear-gradient(75deg, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.2) 0%, rgba(var(--rgba3), var(--rgba3), var(--rgba3), 0.07) 100%);

            .fas {
              opacity: .3;
              font-size: 1.6em;
            }
          }
        }

        &-10 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: var(--color-bright);
          ;
          height: 50px;
          width: 350px;
          top: 230px;
          left: 62.7vw;
          filter: blur(0px);

          .child {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            height: 60px;
            padding: 0 20px;

            .fas {
              color: var(--background);
              opacity: 1;
              font-size: 1.6em;
            }

            .punkt1 {
              margin: 5px;
              height: 15px;
              width: 15px;
              border-radius: 45px;
              background-color: #00F959;
            }
          }

          .punkt2 {
            margin: 5px;
            height: 15px;
            width: 15px;
            border-radius: 45px;
            background-color: #befa19;
          }

          .punkt3 {
            margin: 5px;
            height: 15px;
            width: 15px;
            border-radius: 45px;
            background-color: #fa0000;
          }
        }
      }
    }

    @media (max-width: $breakpoint) {
      flex-direction: column;
      padding-top: 100px;

      .left,
      .right {
        width: 100%;
        height: auto;
      }

      .left {
        h1 {
          font-size: 2em;
        }

        p {
          font-size: 1em;
          padding: 20px 0px 20px 0;
        }
      }

      .right {
        display: none;
      }
    }
  }
}

#aboutus {

  .content {
    display: flex;
    justify-content: space-between;
    color: var(--color-bright);



    .blob {
      fill: var(--color-secondary);
      position: absolute;
      height: 30vw;
      top: 100vh;
      left: -250px;
      opacity: .6;
      filter: blur(50px);
      z-index: 2;
      transition: all .5s ease;

      &-1 {
        fill: var(--color-tetiary);
        height: 20vw;
        right: 190px;
        top: 120vh;
        left: auto;
        z-index: -1;
      }

      &-2 {
        fill: var(--color-secondary);
        height: 20vw;
        right: 450px;
        top: 170vh;
        left: auto;
        z-index: -1;
      }

      &-3 {
        fill: var(--color-tetiary);
        height: 20vw;
        right: -100px;
        top: 180vh;
        bottom: -150px;
        left: auto;
        z-index: -1;
      }

      @media (max-width: $breakpoint) {
        height: 50vw;
        top: auto;
        left: auto;
        right: 0px;

        &-1 {
          height: 50vw;
          top: 0px;
          left: 0px;
        }

        &-2 {
          height: 50vw;
          right: 0px;
          top: 50vh;
          left: auto;
        }

        &-3 {
          height: 50vw;
          right: auto;
          top: auto;
          bottom: 5vh;
          left: auto;
        }
      }
    }

    .left,
    .right {
      width: 50%;
      display: flex;
      flex-direction: column;
      height: 100vh;
      margin-top: 100px;
      // justify-content: center;
      // align-items: center;
    }

    .left {
      h1 {
        position: relative;
        z-index: 5;
        font-size: 4em;
        line-height: 1.2;
      }

      p {
        position: relative;
        z-index: 5;
        font-size: 1.4em;
        padding: 20px 270px 20px 0;
      }

      .cta {

        position: relative;
        width: fit-content;
        padding: 0px 30px;
        margin: 30px 0;
        height: 45px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 45px 45px 45px 45px;
        border: 0px solid var(--color-dark);
        cursor: pointer;
        transition: all 0.3s ease;

        .fas {
          color: var(--color-dark);
          margin-left: 10px;
          transition: all .3s ease;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          border-radius: 45px 45px 45px 45px;
          height: 100%;
          background-color: var(--color-primary);
          -webkit-box-shadow: 5px 5px 30px 5px var(--color-primary);
          box-shadow: 5px 5px 30px 5px var(--color-primary);
          filter: blur(5px);
          z-index: 1;
          transition: all 0.3s ease;
        }

        &::after {
          height: 100%;
          content: "";
          position: absolute;
          bottom: 0;
          width: 0%;
          border-bottom: 0px solid var(--color-primary);
          border-top: 0px solid var(--color-primary);
          z-index: 1;
          transition: all 0.3s ease;
        }

        &:hover {
          .fas {
            color: var(--color-primary);
          }

          &:before {
            background-color: var(--background);
            -webkit-box-shadow: 0px 0px 0px 0px var(--color-primary);
            box-shadow: 0px 0px 0px 0px var(--color-primary);
            filter: blur(0px);
          }

          &::after {
            width: 80%;
            border-bottom: 1px solid var(--color-primary);
            border-top: 1px solid var(--color-primary);
          }

          a {
            color: var(--color-primary);
          }
        }

        margin-top: 20px;


        a {
          position: relative;
          z-index: 1;
          color: var(--color-dark);
          font-size: 1.15em;
          font-weight: bold;
          text-decoration: none;
          transition: all 0.3s ease;

        }
      }

      .aboutusimg {
        position: relative;
        z-index: 1;
        width: 50vh;
        height: 50vh;
        background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 60%,
            var(--background) 99%),
          linear-gradient(to left,
            rgba(255, 255, 255, 0) 60%,
            var(--background) 99%),
          linear-gradient(to top,
            rgba(255, 255, 255, 0) 75%,
            var(--background) 99%),
          linear-gradient(to right,
            rgba(255, 255, 255, 0) 65%,
            var(--background) 99%),
          url("../assets/AboutUS.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

    }

    .right {

      .whyusheader {
        position: absolute;
        top: 125%;
        left: 57%;
        font-size: 2em;
      }

      .items {
        position: absolute;
        top: 150%;
        left: 68%;
        transform: translate(-50%, -50%);
        user-select: none;
      }

      .items .item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30vw;
        height: 30vw;
        border-radius: 20%;
        overflow: hidden;
        transition: all 300ms ease-in-out;
        z-index: -1;
        opacity: 0;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          margin: 20px;
          font-size: 1.8em;
          font-weight: bold;
        }

        p {
          font-size: 1.2em;
        }

        img {
          height: 45%;
          // width: 50%;
        }
      }

      .item img {
        // width: 45%;
        object-fit: cover;
      }

      .item.active {
        opacity: 1;
        z-index: 99;
        box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
      }

      .item.prev {
        z-index: 2;
        opacity: 0.25;
        transform: translate(-125%, -50%) scale(0.5);
      }

      .item.next {
        z-index: 2;
        opacity: 0.25;
        transform: translate(25%, -50%) scale(0.5);
      }

      .items .button-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30vw;
        z-index: 100;
      }

      .button-container .button {
        color: #fff;
        font-size: 32px;
        cursor: pointer;
        position: relative;
        opacity: 0.75;
        transition: all 300ms ease-in-out;
      }

      .button-container .button:hover {
        opacity: 1;
      }

      .button-container .button:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 50%;
        z-index: -99;
      }

      .button-container .button:nth-child(1) {
        float: left;
      }

      .button-container .button:nth-child(2) {
        float: right;
      }
    }

    @media (max-width: $breakpoint) {
      flex-direction: column;
      padding-top: 100px;

      .left,
      .right {
        width: 100%;
        height: auto;
      }

      .left {
        h1 {
          font-size: 2em;
        }

        p {
          font-size: 1em;
          padding: 20px 0px 20px 0;
        }
      }

      .right {
        display: none;
      }
    }
  }
}