@font-face {
    font-family: 'Colombia';
    src: url('Colombia-Bold-Italic.woff2') format('woff2'),
        url('Colombia-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Colombia';
    src: url('Colombia-Regular.woff2') format('woff2'),
        url('Colombia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Colombia';
    src: url('Colombia-Regular-Italic.woff2') format('woff2'),
        url('Colombia-Regular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Colombia';
    src: url('Colombia-Bold.woff2') format('woff2'),
        url('Colombia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

